<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.
</p>

<p><b>Objectives:</b></p>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular libraries for Data Science</li>
    <li>Examples of evaluating arithmetic expressions</li>
</ul>

<h3>Some of the popular languages that Data Scientists use are:</h3>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Java</li>
</ol>

<h3>Some of the commonly used libraries used by Data Scientists include:</h3>
<ol>
    <li>Pandas</li>
    <li>PMML</li>
    <li>Java-ML</li>
</ol>

<table>
    <th>Data Science Tools</th>
        <tr>
            <td>Pandas</td>
        </tr>
        <tr>
            <td>Scrapy</td>
        </tr>
        <tr>
            <td>Weka</td>
        </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
<p>Elias S. K.</p>